# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# Node.js
node_modules/
*/node_modules/
*.log
.env

# Supabase
supabase/.branches/
supabase/.temp/

# OS
.DS_Store
Thumbs.db